a.navbar-brand {
  text-align: center;
  word-break: break-all;
}

.ThemeBlack{
  color: aliceblue;
  background-color: black;
  height: inherit;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
