@model Ferreteria.Models.ViewModels.PrecioViewModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="Upsert" asp-route-id="@Model.Precio.IdPrecio" onsubmit="return PostForm(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Precio.IdPrecio" />
            <div class="form-group">
                <label asp-for="Precio.IdTrabajo" class="control-label"></label>
                <div class="col-8">
                    @Html.DropDownListFor(s => s.Precio.IdTrabajo, Model.Trabajo, "-Seleccione un Trabajo", new { @class = "form-control" })
                    <span asp-validation-for="Precio.IdTrabajo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Mano de Obra</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"></div>
                    </div>
                    <input class="form-control" id="Obra" />
                </div>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Precio.Costo" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"></div>
                    </div>
                    <input asp-for="Precio.Costo" class="form-control" id="CostoTotal" readonly />
                </div>
                <span asp-validation-for="Precio.Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <button class="btn btn-primary btn-block" onclick="calcular()">Calcular</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}